@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Pacifico&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 100px;
}

.wrapper {
  text-align: center;
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
}

h5 {
  font-weight: 600;
}

.ingredientsList {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

.ingredientsList > div {
  text-align: left;
  margin-right: 60px;
}

.ingredientsList > div label input {
  margin: 5px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0px
}

.flexGallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  transition: transform .2s;
}

.results {
  margin-top: 30px;
}




